<a href="https://colab.research.google.com/github/putiwindra/putiwindra/blob/main/%5BPritest_SSD_1%5D1204500070_PUTI_WINDRAHMATULLAH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df_120450070= pd.read_csv('/content/alon_inputs.csv')
df_120450070

,8.589420000000000073e+03,5.468239999999999782e+03,4.263409999999999854e+03,4.064940000000000055e+03,1.997890000000000100e+03,5.282329999999999927e+03,2.169719999999999800e+03,2.773420000000000073e+03,7.526390000000000327e+03,4.607680000000000291e+03,...,9.910999999999999943e+01,6.756000000000000227e+01,2.599100000000000250e+02,1.389000000000000057e+02,8.823000000000000398e+01,3.967000000000000171e+01,6.782999999999999829e+01,7.568000000000000682e+01,8.351999999999999602e+01,2.869999999999999929e+01
0,9164.25,6719.53,4883.45,3718.16,2015.22,5569.91,3849.06,2793.39,7017.73,4802.25,...,126.79,92.24,96.28,150.59,82.24,85.03,152.20,186.57,44.47,16.77
1,3825.71,6970.36,5369.97,4705.65,1166.55,1572.17,1325.40,1472.26,3296.95,2786.58,...,151.88,82.72,31.10,193.92,76.97,224.62,31.23,42.66,16.09,15.16
2,6246.45,7823.53,5955.84,3975.56,2002.61,2130.54,1531.14,1714.63,3869.79,4989.41,...,152.60,41.68,5.93,183.01,74.53,67.71,48.34,42.52,49.98,16.09
3,3230.33,3694.45,3400.74,3463.59,2181.42,2922.78,2069.25,2948.58,3303.37,3109.41,...,126.46,76.60,161.35,61.70,54.56,223.36,73.10,57.60,7.49,31.81
4,2510.33,1960.65,1566.32,3072.82,1810.20,1673.56,1290.42,2465.85,1675.54,1312.81,...,122.53,47.54,147.24,28.31,33.20,91.85,5.88,36.30,9.82,21.88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
56,4972.17,4173.92,3668.53,1567.56,1570.44,3466.81,2106.50,1535.76,1887.62,3519.60,...,70.67,6.45,156.45,93.95,86.91,95.44,31.19,57.15,13.96,10.55
57,9112.37,6824.49,5982.85,3147.04,4847.31,11222.68,6333.47,4299.50,4644.44,5888.55,...,129.40,35.88,342.65,84.75,60.27,143.88,9.00,106.88,23.20,32.17
58,6730.63,3472.13,2559.46,2624.69,1596.22,4372.79,3798.53,1026.48,3512.33,3243.17,...,254.87,119.96,111.60,166.76,130.46,124.25,96.47,133.52,93.10,7.43
59,6234.62,4005.30,3093.68,3183.09,1795.31,3940.85,2019.85,1406.65,2927.79,2177.32,...,190.71,85.26,206.54,80.45,104.81,180.94,68.93,118.20,32.69,23.27
60,7472.01,3653.93,2728.22,3494.48,2404.67,5791.61,2876.42,2150.96,3767.00,2685.30,...,178.95,63.64,437.65,178.27,153.85,269.44,67.86,77.22,49.86,39.63

In [ ]:
df_120450070.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 61 entries, 0 to 60
Columns: 2000 entries, 8.589420000000000073e+03 to 2.869999999999999929e+01
dtypes: float64(2000)
memory usage: 953.2 KB

In [ ]:
data1=df_120450070.iloc[:,20:30]
data1.head(2)

,3.504210000000000036e+03,2.428050000000000182e+03,5.150010000000000218e+03,3.855840000000000146e+03,1.806480000000000018e+03,3.192409999999999854e+03,8.720099999999999909e+02,1.135819999999999936e+03,2.365239999999999782e+03,1.567240000000000009e+03
0,3759.59,4268.92,4166.19,4286.69,2699.28,2796.08,1015.91,1459.10,2865.04,1156.96
1,1436.79,658.88,1924.79,2080.66,1155.94,1444.10,853.44,734.53,763.31,704.12

In [ ]:
stdev = data1.std()
print(stdev)

3.504210000000000036e+03    1670.946812
2.428050000000000182e+03    2201.206794
5.150010000000000218e+03    2017.915895
3.855840000000000146e+03    1937.714835
1.806480000000000018e+03     851.019119
3.192409999999999854e+03    2502.225765
8.720099999999999909e+02     522.710745
1.135819999999999936e+03    1311.623644
2.365239999999999782e+03    1343.335400
1.567240000000000009e+03    1241.910009
dtype: float64

df_120450070.loc[0] = mengambil data pada kolom pertama atau 0
df_120450070[0] = memunculkan error
df_120450070.iloc[0,0] = mengambil data yang terletak pada kolom dan baris 0 atau pertama

In [ ]:
df_120450070.loc[0]

8.589420000000000073e+03    9164.25
5.468239999999999782e+03    6719.53
4.263409999999999854e+03    4883.45
4.064940000000000055e+03    3718.16
1.997890000000000100e+03    2015.22
                             ...
3.967000000000000171e+01      85.03
6.782999999999999829e+01     152.20
7.568000000000000682e+01     186.57
8.351999999999999602e+01      44.47
2.869999999999999929e+01      16.77
Name: 0, Length: 2000, dtype: float64

In [ ]:
df_120450070[0]

KeyError: ignored

In [ ]:
df_120450070.iloc[0,0]

9164.25

ketiga syntax tersebut dapat kia ketahui perbedaannya yaitu, untuk loc[0] mengambil nilai dengan index kolom pertama(0),
sedangkan untuk data[0], mengambil nilai yang nama kolomnya adalah '0', akan tetapi karena kolom dengan nama "0 " tidak ada 
maka menghasilkan erorr, sedangakan untuk iloc[0] merupakan fungsi yang mengambil nilai beerdasarkan baris dan kolom, yang berarti 
dia mengambil nilai pada baris ke 0 dan kolom ke 0

In [ ]:
df_120450070b = data1.iloc [:,20:31:2]
df_120450070b.mean()

Series([], dtype: float64)