<a href="https://colab.research.google.com/github/putiwindra/putiwindra/blob/main/%5BTest_Akhir_PRAKTIKUM_SSD_2%5D120450070_PUTI_WINDRAHMATULLAH.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TUGAS Test Akhir PRAKTIKUM STASTISTIKA SAINS DATA

MODUL 2

*   Puti Windrahmatullah
*   120450070

**Terdapat dataset sebagai berikut:
https://drive.google.com/file/d/1-GfCcZ3pST11Yz1l_4CHcMaRJu34CVlv/view?usp=sharing
Dataset tersebut adalah dataset Trending Youtube videos**

**1. Load dataset tersebut menggunakan pandas**

In [ ]:
import pandas as pd
import numpy as np

url='https://drive.google.com/file/d/1-GfCcZ3pST11Yz1l_4CHcMaRJu34CVlv/view'
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
df = pd.read_csv(url)

In [ ]:
df.head()

,video_id,trending_date,title,channel_title,category_id,publish_time,tags,views,likes,dislikes,comment_count,thumbnail_link,comments_disabled,ratings_disabled,video_error_or_removed,description
0,2kyS6SvSYSE,17.14.11,WE WANT TO TALK ABOUT OUR MARRIAGE,CaseyNeistat,22,2017-11-13T17:13:01.000Z,SHANtell martin,748374,57527,2966,15954,https://i.ytimg.com/vi/2kyS6SvSYSE/default.jpg,False,False,False,SHANTELL'S CHANNEL - https://www.youtube.com/s...
1,1ZAPwfrtAFY,17.14.11,The Trump Presidency: Last Week Tonight with J...,LastWeekTonight,24,2017-11-13T07:30:00.000Z,"last week tonight trump presidency|""last week ...",2418783,97185,6146,12703,https://i.ytimg.com/vi/1ZAPwfrtAFY/default.jpg,False,False,False,"One year after the presidential election, John..."
2,5qpjK5DgCt4,17.14.11,"Racist Superman | Rudy Mancuso, King Bach & Le...",Rudy Mancuso,23,2017-11-12T19:05:24.000Z,"racist superman|""rudy""|""mancuso""|""king""|""bach""...",3191434,146033,5339,8181,https://i.ytimg.com/vi/5qpjK5DgCt4/default.jpg,False,False,False,WATCH MY PREVIOUS VIDEO ▶ \n\nSUBSCRIBE ► http...
3,puqaWrEC7tY,17.14.11,Nickelback Lyrics: Real or Fake?,Good Mythical Morning,24,2017-11-13T11:00:04.000Z,"rhett and link|""gmm""|""good mythical morning""|""...",343168,10172,666,2146,https://i.ytimg.com/vi/puqaWrEC7tY/default.jpg,False,False,False,Today we find out if Link is a Nickelback amat...
4,d380meD0W0M,17.14.11,I Dare You: GOING BALD!?,nigahiga,24,2017-11-12T18:01:41.000Z,"ryan|""higa""|""higatv""|""nigahiga""|""i dare you""|""...",2095731,132235,1989,17518,https://i.ytimg.com/vi/d380meD0W0M/default.jpg,False,False,False,I know it's been a while since we did this sho...

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40949 entries, 0 to 40948
Data columns (total 16 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   video_id                40949 non-null  object
 1   trending_date           40949 non-null  object
 2   title                   40949 non-null  object
 3   channel_title           40949 non-null  object
 4   category_id             40949 non-null  int64
 5   publish_time            40949 non-null  object
 6   tags                    40949 non-null  object
 7   views                   40949 non-null  int64
 8   likes                   40949 non-null  int64
 9   dislikes                40949 non-null  int64
 10  comment_count           40949 non-null  int64
 11  thumbnail_link          40949 non-null  object
 12  comments_disabled       40949 non-null  bool
 13  ratings_disabled        40949 non-null  bool
 14  video_error_or_removed  40949 non-null  bool
 15  description             40379 non-null  object
dtypes: bool(3), int64(5), object(8)
memory usage: 4.2+ MB

**2. Perhatikan grafik perbandingan likes dan views berikut:**

**Grafik tersebut dipisahkan dengan garis merah menjadi 4 kluster. Tambahkan label kluster pada
dataframe dataset berdasarkan grafik tersebut!**

In [ ]:
df2 = df.copy()
df2 = df2.assign(kluster=np.zeros_like(df['likes'].values))

klus1 = df2.query('likes < 10**6 and views < 50 * 10**6')
klus2 = df2.query('likes < 10**6 and views >= 50 * 10**6')
klus3 = df2.query('likes >= 10**6 and views >= 50 * 10**6')
klus4 = df2.query('likes >= 10**6 and views < 50 * 10**6')

df2.loc[klus1.index,'kluster'] = 1
df2.loc[klus2.index,'kluster'] = 2
df2.loc[klus3.index,'kluster'] = 3
df2.loc[klus4.index,'kluster'] = 4

In [ ]:
df2.query('kluster ==1').count()['video_id']

40542

In [ ]:
df2.query('kluster ==2').count()['video_id']

38

In [ ]:
df2.query('kluster ==3').count()['video_id']

139

In [ ]:
df2.query('kluster ==4').count()['video_id']

230

**3. Ambil dari masing-masing kluster 10 sampel secara random!**

In [ ]:
kluster = df.sample(n=10)[['likes','views']]
kluster

        likes    views
14264    4747   216812
3654     2532    73470
12042   39298  1305492
3428    16032   331220
28907    3980   426576
17782   38387  1610076
21133    7787   677138
39391  101234  2855899
6886   167416  1805814
4901    40619   971851

**4. Outputkan rata-rata, median dan standard deviasi dari masing2 sampel kluster tersebut!**

In [ ]:
kluster.mean()

likes      42203.2
views    1027434.8
dtype: float64

In [ ]:
kluster.median()

likes     27209.5
views    824494.5
dtype: float64

In [ ]:
kluster.std()

likes     53224.456022
views    875889.642959
dtype: float64

**5. Jelaskan insight apa saja yang kalian dapatkan selama mengerjakan soal jurnal!**

Insight yang  didapatkan selama mengerjakan soal jurnal yaitu

1. mengerti cara mengambil sebagian data secara acak lalu dapat dihitung rata-rata dan varians dari sampel yang ada
2. mengerti cara mengquerykan data dengan seleksi berdasarkan ekspresi
3. mengetahui cara penggunaan boolean indexing
4. mengerti cara mengurutkan berdasarkan ratio
5. mengetahui perbandingan rata-rata dan standard deviasi jumlah views antara video dengan likes dan juga video dengan dislikes.